@model SporSalonuMVC.Models.Membership

@{
    ViewData["Title"] = "Paket Düzenle";
}

<h2>Paket Düzenle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="DurationDays" class="form-label"></label>
    <input asp-for="DurationDays" class="form-control" />
    <span asp-validation-for="DurationDays" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" type="text" inputmode="decimal" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
